<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cycle Tracks Trail Guide</title>
    <link rel="stylesheet" href="learning_css/trails.css" media="screen">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header id="mainHeader">
        <h1>Cycle Tracks</h1>
        <p>your complete biking trail source</p>
        <nav>
            <ul>
                <li><a href="blog.html" title="Trail Blog">trail blog</a></li>
                <li><a href="trails.html" title="Trail Reviews" class="current">trail reviews</a></li>
                <li><a href="news.html" title="Trail News">trail news</a></li>
                <li><a href="resources.html" title="Trail Resources">resources</a></li>
                <li><a href="tours.html" title="Biking Tours">biking tours</a></li>
            </ul>
        </nav>
    </header>
    <main id="trailReviews">
        <header>
            <h2>Trail Reviews</h2>
            <p class="breadcrumbs"><a href="all_trails.html">All Trails</a> > <a href="#">Ojai</a></p>
            <p class="currentTrail">Ojai Trails</p>
        </header>
        <article>
            <header>
                <h3>Northridge Loop</h3>
                <p>posted on January 17th, 2014</p>
            </header>
            <table id="quickFacts">
                <caption>
                    TRAIL INFO
                </caption>
                <tr>
                    <th>trail type:</th>
                    <td>single track</td>
                </tr>
                <tr>
                    <th>elevation:</th>
                    <td>2000 ft</td>
                </tr>
                <tr>
                    <th>length:</th>
                    <td>14.5 miles</td>
                </tr>
                <tr>
                    <th>skill level:</th>
                    <td>beginner to intermediate</td>
                </tr>
            </table>
            <p>If you are looking for great scenery and a great workout without all the technical difficulty of other
                trails, Northridge Loop is for you. The ridge runs east to west, with Ojai Valley on one side and Rose
                Valley on the other. The trail features amazing views of both valleys plus the
                Los Padres National Forest.</p>
            <p>There are a total of 6 trail heads spread out over the 14.5 mile loop, so there are plenty of places
                to get on or off the trail. Hiking is permitting along all trails, so ride with caution and don't
                override your stopping power.</p>
            <h4>Skill level</h4>
            <p>While the overall trail is fine for beginners, two spurs, Gridley and Pratt, are much narrower
                and technical, so be sure to check the signage before choosing a trail. </p>
            <p>While there are no steep drops or bombs on this trail, there are several areas of the trail that extend
                over bare rock. The paths are marked, but there are canyon areas that you should be aware of.
                Before starting any downhill section make sure you know the path!</p>
            <figure>
                <figcaption>Trail Map and Elevation</figcaption>
                <img src="http://wallpaperlayer.com/img/2015/10/green-forest-background-8707-9035-hd-wallpapers.jpg" alt="The Forest" style="max-width: 500px;">
                <img src="http://andrewsforest.oregonstate.edu/about/site/map/2011base.jpg" alt="The Forest's Map" style="max-width: 500px;">
            </figure>
            <h4>Surface</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
            <h4>Notable features</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
            <h4>Final thoughts</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
            <footer class="articleFooter">
                <p>About the author:</p>
                <p> Daniel Weston lives in Oxnad, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Contact him at
                <a href="mailto:danw@cycletracks.org" title="email Dan!">danw@cycletracks.org</a></p></footer>
            <section>
                <header>
                    <h3>Comments</h3>
                    <p>To leave a comment you must <a href="join.html" title="Join our crew">register</a>
                        or <a href="" title="sign in">sign in</a></p>
                </header>
                <article class="comment">
                    <h4><span>Cicero</span> wrote this on Aug 7th, 2014 at 12:52</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
            </section>
        </article>
    </main>
    <section id="riderReviews">
        <h2>Rider Reviews</h2>
        <article>
            <header>
                <h3>Los Robles Trail</h3>
                <p class="byline">by Danny Keys</p>
                <p class="pubdate">submitted on 06/26/14</p>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        <aside>
            <h3>Ojai Trail Facts</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </aside>
        <article>
            <header>
                <h3>Copper Canyon Loop</h3>
                <p class="byline">by Shea Hansen</p>
                <p class="pubdate">submitted on 04/30/14</p>
            </header>
            <p><q>Lorem ipsum dolor sit amet</q>, consectetur "adipiscing elit", sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
                <ol reversed start="3">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ol>
        </article>
    </section>
    <aside class="adCopy">
        <h3>Need a rental?</h3>
        <img src="http://thespiritscience.net/wp-content/uploads/2015/11/TW_beautiful-mysterious-forests-_670.jpg" alt="I miss forests">
        <p>Melanie's Bikes has you covered!</p>
        <p>If you're visiting Southern California and need a bike, give us a call! Free drop off and pick up.</p>
    </aside>
    <footer id="pageFooter">
        <div class="rightCol">
            <p class="topLink"><a href="#mainHeader">return to top</a></p>
            <p><a href="tel://866-555-4310" title="give us a call">T: 866.555.4310</a></p>
            <p><a href="mailto:info@cycletracks.org" tutle="drop us a line">info@cycletracks.org</a></p>
        </div>
        <div class="leftCol">
            <p>all content &copy;copyright 2014 CYcle Tracks | please read our <a href="#">terms of use</a></p>
            <p>Cycle Tracks</p>
            <p>5605 Nota Street<br>
            Ventura, CA 93003</p>
            <p>866.555.4310<br>
                866.555.4315 (daily <b>trail</b> <em>test em</em> <i>test i</i> conditions)</p>
        </div>
    </footer>

</body>
</html>
