[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
cffi = "*"
coreapi = "*"
decorator = "*"
django = "*"
django-colorfield = "*"
django-crispy-forms = "*"
django-grappelli = "*"
django-rest-swagger = "*"
djangorestframework = "*"
fabric3 = "*"
flake8 = "*"
idna = "*"
ipython = "*"
ipython-genutils = "*"
itypes = "*"
mccabe = "*"
olefile = "*"
openapi-codec = "*"
paramiko = "*"
pexpect = "*"
pickleshare = "*"
pillow = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pyasn1 = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pygments = "*"
requests = "*"
simplegeneric = "*"
simplejson = "*"
sqlparse = "*"
traitlets = "*"
uritemplate = "*"
wcwidth = "*"
cryptography = "*"
appdirs = "*"
