* {
    font-family: 'Lato', serif;
}

body {
  color: #e1e1e1;
  background-color: #413c3e;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  /*margin-top: 0;*/
  font-weight: normal;
  color: #ffffff;
}

a, a:visited {
    color: #009dff;
    text-decoration: none;
}
a:hover {
    color: #ffff00;
    text-decoration: none;
    transition: color 700ms ease-in-out;
    /*-webkit-animation: burn 1s ease-out;*/
    /*-webkit-animation-iteration-count: 1;*/
    /*-webkit-animation-fill-mode: forwards;*/
}
/*@-webkit-keyframes burn {*/
    /*!*0% {color: #009dff}*!*/
    /*50% {color: #ffff00;}*/
    /*100% {color: #ff7300;}*/
/*}*/

a:focus {
    text-decoration: none;
    color: #009dff;
}

pre {
    background-color: rgb(38, 38, 38);
    color: #fffe4e;
    border-color: #009dff;
    border-radius: 5px;
    margin: 30px;
}

/*table*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #363133;
}

/* main header */
header.blog-master-header {
    margin-bottom: 30px;
}


/* navbar */
.navbar {
    min-height: 40px;
    border-bottom: none;
}
.navbar-inverse {
    border: 0;
    border-radius: 0;
}
.navbar-nav>li>a, a.navbar-brand {
    padding: 10px 15px;
    height: 40px;
}
div.navbar-header a.navbar-brand > p,
div.navbar-header a.navbar-brand:hover > p,
div.navbar-header a.navbar-brand:focus > p {
    font-weight: 900;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-brand-icon {
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
}
.navbar-brand>img {
    display: inline;
    float: left;
}
p#brand-text {
    display: inline-block;
    margin: 0 10px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #009dff;
    color: #fff;
    font-weight: 900;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #009dff;
    color: #fff;
    transition: background-color 600ms linear;

    /*-webkit-animation: pulsate 1s ease-in;*/
    /*-webkit-animation-iteration-count: infinite;*/
}
/*@-webkit-keyframes pulsate {*/
    /*0% {background-color: #009dff}*/
    /*50% {background-color: #005b92;}*/
    /*100% {background-color: #009dff}*/
/*}*/


/* jumbotron */
nav.navbar.navbar-inverse {
    margin-bottom: 0;
}
aside .container-fluid {
    padding: 0 0;
}
aside.blog-navbar-aside {
    /*padding: 0;*/
    /*margin: 0;*/
    background-color: #2e2e31;
    border-bottom: 3px solid #009dff;
}
aside div.container div.jumbotron {
    margin: 0;
    border-radius: 0;
    background-color: #2e2e31;
}


/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 16px;
  line-height: 1.5;
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: rgb(38, 38, 38);
  border-radius: 0;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #ffd379;
}


/* main footer */
footer {
    background-color: #2e2e31;
    margin-top: 30px;
    border-top: 3px solid #009dff;
}
footer div {
    text-align: center;
    background-color: #2e2e31;
    padding: 15px 30px 60px 30px;
}
.footer-social-media > ul {
    padding: 0;
    margin-bottom: 20px;
}
.footer-social-media ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}