/*
 * Globals
 */

body {
  font-family: 'Lato', serif;
  color: #ffffff;
  background-color: #353535;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #ffffff;
}

a,
a .active {
    color: #009dff;
    text-decoration: none;
    transition: all 1000ms ease-in-out;
}
a:hover {
    color: yellow;
    text-decoration: underline;
}
a:focus {
    color: #ff3200;
    text-decoration: underline;
    transition: color 500ms ease-in-out;
}

/*input {*/
    /*border-radius: 20%;*/
/*}*/

pre {
    background-color: rgb(38, 38, 38);
    color: #fffe4e;
    border-color: #009dff;
    border-radius: 5px;
    margin: 30px;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */
.blog-masthead {
  background-color: rgb(38, 38, 38);
  border-bottom: 3px solid #009dff;
  margin-bottom: 60px;
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    margin-right: -3px;
}
.blog-nav-item:hover {
  background-color: #00609d;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}
.blog-nav-item:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  background-color: #009dff;
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
}
.blog-nav-item-left,
.blog-nav-item-left:focus {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #fff;
}
.blog-nav-item-left:hover {
  color: #009dff;
  text-decoration: none;
  transition: color 600ms linear;
}

.blog-login,
.blog-login:focus,
.blog-login .active {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #fff;
}
.blog-login:hover {
    color: #ffc600;
    border-radius: 20%;
    transition: color 600ms linear;
}

/*
 * Blog name and description
 */

/*.blog-header {*/
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
/*}*/
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 700;
}
.blog-description {
  font-size: 20px;
  color: #ffffff;
}


/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 16px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: rgb(38, 38, 38);
  border-radius: 0px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: center;
  /*vertical-align: middle;*/
}
.pager > li > a,
.pager > li > a:focus {
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    border-color: #009dff;
    background-color: rgb(38, 38, 38);
    color: #ffffff;
}
.pager > li > a:hover {
   background-color: #004c7f;
  transition: background-color 600ms linear;
}
.pager > li > a .active {
    background-color: rgb(38, 38, 38);
}


/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #ffd379;
}


/*
 * Footer
 */
.blog-footer {
  padding: 40px 0;
  color: #fff;
  text-align: center;
  background-color: rgb(38, 38, 38);
  border-top: 3px solid #009dff;
}
.blog-footer :last-child {
  margin-bottom: 0;
}

