{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySandbox</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">

    <link rel="stylesheet" href="{% static 'css/base_v3.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <header class="blog-master-header">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/bucket-icon.svg' %}" class="navbar-brand-icon">
                        <p id="brand-text">MySandbox</p>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <aside class="blog-navbar-aside">
            <div class="container">
                <div class="jumbotron">
                    <h1>MySandbox Project</h1>
                    <p>My place for field testing new tech, features, and all other toys! :D</p>
                </div>
            </div>
        </aside>
    </header>

    <div class="container">
        <div class="row">
            <main class="blog-main">
                <article class="col-xs-8 blog-main">
                    <section class="comments">
                        comments
                    </section>
                </article>
            </main>
            <section class="col-xs-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <div class="sidebar-module sidebar-module-inset">
                    <form class="form-inline">
                      <label class="sr-only" for="inlineFormInputGroup">Search</label>
                        <div class="input-group mb-sm-2 mb-sm-0">
                            <div class="input-group-addon">
                                <i class="fa fa-search fa-lg col-2" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control" name="search" placeholder="searched phrase">
                        </div>
{#                      <button type="submit" class="btn btn-default">Go</button>#}
                    </form>
                </div>
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Categories</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">Django</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Linux</a></li>
                        <li><a href="#">Philosophy</a></li>
                        <li><a href="#">Cognitive Science</a></li>
                        <li><a href="#">Religious Studies</a></li>
                    </ol>
                </div>
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                        <li><a href="#">August 2013</a></li>
                        <li><a href="#">July 2013</a></li>
                        <li><a href="#">June 2013</a></li>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                    </ol>
                </div>
                <div class="sidebar-module sidebar-module-inset">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                  <li><a href="#">GitHub</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
                </ol>
                </div>
            </section>
        </div>
    </div>

    <footer class="blog-main-footer">
        <div class="container">
            <div class="footer-social-media">
                <ul>
                    <li><a class="blog-nav-item-left" href="https://www.facebook.com/wdudek82" target="_blank">
                      <i class="fa fa-facebook-square fa-fw fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="blog-nav-item-left" href="https://twitter.com/WojtekDudek82" target="_blank">
                      <i class="fa fa-twitter fa-fw fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="blog-nav-item-left" href="https://github.com/wdudek82" target="_blank">
                      <i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="blog-nav-item-left" href="https://github.com/wdudek82" target="_blank">
                      <i class="fa fa-linkedin-square fa-fw fa-lg" aria-hidden="true"></i></a></li>
                </ul>
                <p>
                    <a href="mailto:wdudek82@gmail.com">Wojciech Dudek</a>, Kraków 2017
                </p>
            </div>
        </div>
    </footer>



    <!-- ================ scripts ================ -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>