<section class="col-xs-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <form class="form-inline">
          <label class="sr-only" for="inlineFormInputGroup">Search</label>
            <div class="input-group mb-sm-2 mb-sm-0">
                <div class="input-group-addon">
                    <i class="fa fa-search fa-lg col-2" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" name="search" placeholder="searched phrase">
            </div>
{#                      <button type="submit" class="btn btn-default">Go</button>#}
        </form>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Categories</h4>
        <ol class="list-unstyled">
            {% for category in categories %}
            <li><a href="{% url 'posts:in_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ol>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
    </div>
    <div class="sidebar-module sidebar-module-inset">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
    </div>
</section>