<footer class="blog-main-footer">
    <div class="container">
        <div class="footer-social-media">
            <ul>
                {% for social in sidebar.social %}
                <li><a href="{{ social.url }}" target="_blank">
                    {{ social.font_awesome_icon_tag|safe }}
                </a></li>
                {% endfor %}
            </ul>
            <p>
                <a href="mailto:wdudek82@gmail.com">Wojciech Dudek</a>, Kraków 2017
            </p>
        </div>
    </div>
</footer>