<section class="col-xs-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <p class="profile-avatar">
            <img src="{{ sidebar.about.image.url }}">
        </p>
        <h4>About</h4>
        <p>{{ sidebar.about.content|safe }}</p>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <form class="form-inline">
          <label class="sr-only" for="inlineFormInputGroup">Search</label>
            <div class="input-group mb-sm-2 mb-sm-0">
                <div class="input-group-addon">
                    <i class="fa fa-search fa-lg col-2" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" name="search" placeholder="searched phrase">
            </div>
{#                      <button type="submit" class="btn btn-default">Go</button>#}
        </form>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Categories</h4>
        <ol class="list-unstyled">
            {% for category in sidebar.categories %}
            <li><a href="{% url 'posts:in_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ol>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Weather</h4>
        <p>Soon&trade;</p>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Air Pollution</h4>
        <p>Soon&trade;</p>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            {% for month in sidebar.months_names %}
            <li><a href="#">{{ month }} 2017 (0)</a></li>
            {% endfor %}

        </ol>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            {% for social in sidebar.social %}
                <li><a href="{{ social.url }}">{{ social.name }}</a></li>
            {% endfor %}
        </ol>
    </div>
</section>